.App {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.custom-route:first-child {
  height: 100%;
  display: flex;
  flex-direction: column;
}